[Unit]
Description=Home Automation shades
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haShades.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
