@import "/css/base.css";

body {
    background-color: Black;
    }

* {
    font-size: 16px;
    }
    
.time {
	color: LightYellow;
	font-size: 28px;
	text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    }

.ampm {
	color: LightYellow;
	font-size: 28px;
	text-align: left;
    }

.date {
	color: LightGray;
	font-size: 16px;
	text-align: left;
	margin-left: 12px;
    }

.tempF {
	color: LightYellow;
	font-size: 28px;
	text-align: left;
    }

.label {
    font-size: 18px;
    }

input {
    height: 32px;
    width: 60px;
	font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    }


