@import "/css/base.css";

body {
    background-color: Black;
    }

* {
    font-size: 20px;
    text-align: left;
	margin-left: 6px;
    padding: 0px 0px 0px 0px;
    }
    
.time {
	color: LightYellow;
    opacity: 0.5;
	font-size: 120px;
	line-height: 90%;
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 0px;
    }

.ampm {
	color: LightYellow;
    opacity: 0.5;
	font-size: 12px;
	margin-left: 0px;
    }

.date {
    color: LightGray;
    opacity: 0.5;
	font-size: 24px;
	text-align: left;
	margin-left: 12px;
	margin-left: 0px;
    }

.tempF {
    opacity: 0.5;
	font-size: 30px;
	text-align: right;
	margin-left: 0px;
    }

.label {
    color: LightGray;
    opacity: 0.5;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    }

.state {
    height: 28px;
}
    
.control {
	margin-left: 0px;
    }
    
.light_Off {
    opacity: 0.5;
    }

.light_On {
    opacity: 0.5;
    }

.nightLight_Off {
    opacity: 0.5;
    }

.nightLight_Sleep {
    opacity: 0.5;
    }

.nightLight_On {
    opacity: 0.5;
    }

.hotwater_Off {
    opacity: 0.5;
    }

.hotwater_On {
    opacity: 0.5;
    }

.door_Closed {
    opacity: 0.5;
    }

.door_Open {
	color: #ffcf4f;
    }

table {
	margin-left: 0px;
    }
    
input {
    opacity: 0.5;
    height: 48px;
    width: 80px;
	font-size: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
	margin-left: 0px;
    }


