@import "/css/base.css";

body {
    background-color: Black;
    }

* {
	color: LightGray;
	font-size: 12px;
    }

.label {
	color: LightGray;
    }

.date {
    font-size: 24px;
    text-align: left;
    }

.summary {
    text-align: right;
    }

.caption {
	text-align: center;
    }

.stats {
    position: absolute; 
    top: 700px; 
    left: 76px;
    }
    
.statsGroup {
    margin-bottom: 12px;
    }
    
.inverter {
    }

.inverterName {
	color: Turquoise;
    }

.optimizer {
	margin: 2px;
    }

.optimizerName {
	color: LimeGreen;
    }

.V {
	color: Orange;
    }

.W {
	color: Orange;
    }

.KW {
	color: Orange;
    }

.KVA {
	color: Orange;
    }

.KWh {
	color: OrangeRed;
    }

.MWh {
	color: OrangeRed;
    }

