@import "/css/base.css";

body {
    background-color: Black;
    }

* {
	color: LightGray;
	font-size: 12px;
    }

.label {
	color: DarkGray;
    }

.date {
    font-size: 24px;
    text-align: left;
    }

.time {
    font-size: 16px;
    text-align: left;
    }

.ampm {
    font-size: 16px;
    text-align: left;
    }

.summary {
    text-align: right;
    }

.caption {
	text-align: center;
    }

.stats {
    }

.statsGroup {
    margin-bottom: 12px;
    }

.inverter {
    }

.inverterName {
	color: Turquoise;
    }

.lpanel {
    width: 75px;
    height: 40px;
    }

.ppanel {
    width: 75px;
    height: 40px;
    transform: rotate(90deg);
    }

.optimizer {
	margin: 2px;
    }

.optimizerName {
	color: White;
    text-shadow: 1px 1px black;
    }
