[Unit]
Description=Home Automation Cameras
After=syslog.target mnt-disk1.mount
[Service]
ExecStart=/usr/bin/python /root/ha/cameraApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
