[Unit]
Description=Home Automation Data Logging
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/datalogApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
