[Unit]
Description=Home Automation Camera
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haCamera.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
