[Unit]
Description=Home Automation doorbell
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haDoorbell.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
