[Unit]
Description=Home Automation Edison
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haEdison.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
