[Unit]
Description=Home Automation HVAC
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haHvac.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
