[Unit]
Description=Home Automation lights
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/haLights.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
