[Unit]
Description=UI service
After=multi-user.target
[Service]
ExecStart=/usr/bin/python /root/ha/haTacoma.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
