[Unit]
Description=Home Automation Holiday Light schedule
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/holidayApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
