[Unit]
Description=Network devices
Wants=network-online.target
After=syslog.target network-online.target
[Service]
ExecStart=/usr/bin/python /root/ha/networkApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
