[Unit]
Description=Home Automation power loads
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/powerControl.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
