[Unit]
Description=Home Automation Graphing
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/ha/solarGraphApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
