[Unit]
Description=Home Automation solar
After=syslog.target seweb.service
[Service]
ExecStart=/usr/bin/python /root/ha/solarApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
