[Unit]
Description=Home Automation system sensors
After=syslog.target mnt-disk2.mount network-online.target
[Service]
ExecStart=/usr/bin/python /root/ha/systemApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
