[Unit]
Description=Home Automation Web Application
Wants=network-online.target
After=syslog.target mnt-disk2.mount network-online.target
[Service]
ExecStart=/usr/bin/python /root/ha/webApp.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
