<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='/css/dashboard.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    <script src='/js/submit.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width={{ widths[0] }} style='table-layout:fixed'>
        {% for w in widths[1] %}
        <col width={{ w[0] }}>
        {% endfor %}
        <tr>
            <td>
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], group=timeGroup, details=False, name=True, link=True, views=views) }}
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], group=weatherGroup, details=False, name=True, link=True, views=views) }}
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], group=lightsGroup, details=False, name=True, link=True, views=views) }}
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], group=poolGroup, details=False, name=True, link=True, views=views) }}
                {{ poolPumpControlTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], poolPumpControl=poolPumpControl, poolPumpFlowSensor=poolPumpFlowSensor, nSetValues=5, views=views) }}
                {{ spaTempTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][0], spa=spa, spaTemp=spaTemp, spaTempTarget=spaTempTarget, nSetValues=3, views=views) }}
            </td>
            <td>
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][1], group=shadesGroup, details=False, name=True, link=True, views=views) }}
                <a href="/details?group=Hvac"><h2>Hvac</h2></a>{{ hvac }}
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][1], group=sprinklersGroup, details=False, name=True, link=True, views=views) }}
                {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths[1][1], group=powerGroup, details=False, name=True, link=True, views=views) }}
            </td>
        </tr>
    </table>
</body>
</html>

