{% set groupTemplate = templates.get_template("group.html") %}
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='/css/dashboard.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width={{ widths[0] }} style='table-layout:fixed'>
        {% for w in widths[1] %}
        <col width={{ w[0] }}>
        {% endfor %}
        <tr>
            <td>
                {{ timeGroup }}
                {{ weatherGroup }}
                {{ powerGroup }}
                {{ lightsGroup }}
                {{ poolGroup }}
            </td>
            <td>
                {{ shadesGroup }}
                {{ hvacGroup }}
                {{ sprinklersGroup }}
            </td>
        </tr>
    </table>
</body>
</html>

