<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='css/default.css'> 
    <script src='js/jquery.js'></script>
    <script src='js/update.js'></script>
     <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {{ script }}
</head>
<body>
    <div class=container>
        <table class=table>
        <thead>
            <h1>{{ title }}</h1>
        </thead>
        <tbody>
        {% for g in groups %}
            <!--section header-->
            <tr>
                <td>
                <h2>{{ g[0] }}</h2>
                {% for r in g[1] %}
                </td>
            </tr>
            <!--end header-->
            <!--section information-->
             <tr>
                <td>
                    <div class=label>
                        {{ r.label }}
                    </div>
                </td>              
                <td>
                    <div id="{{ r.name }}" 
                    class="{{ r.type+'_'+r.getViewState(views) }}">
                    {{ r.getViewState(views) }}
                    </div>
                </td>
                <td>
                {% if r.className != "Sensor" %}
                    <div class=control>
                    <form name='control' action='' method='get'>
                        <input type='hidden' name='resource' value='{{ r.name }}' />
                        {% for v in r.setValues(views).values() %}
                        <input type='submit' class='button' name='action' value='{{ v }}' />
                        {% endfor %}
                    </form>
                        {% if r.className == "Task" %}
                            {{ r.__str__().replace(",","<br>") }}
                        {% endif %}
                        {% if r.className == "Sequence" %}
                            {{ r.__str__().replace(",","<br>") }}
                        {% endif %}
                    </div>
                    {% endif %}
                </td>
                <!--Bug troubleshooting information-->
                 {% if details %}
                <td><div class=data>{{ r.type }}</div></td>
                <td><div class=data>{{ r.interface.name }}</div></td>
                <td><div class=data>{{ r.addr }}</div></td>
                <td><div class=data>{{ r.location }}</div></td>
                {% endif %}
            </tr>
            <!--end section information-->
            {% endfor %}
        </tbody>
        {% endfor %}
        </div>
    </div><!--end container-->
</body>
</html>

