<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='/css/details.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    {{ script }}
</head>
<body>
    <h1>{{ title }}</h1>
    {% for group in groups %}
        {{ groupTemplate.render(resourceTemplate=resourceTemplate, widths=widths, group=group, details=details, name=True, link=False, views=views) }}
    {% endfor %}
</body>
</html>

