    <!-- name - display the group name -->
    <!-- link - make the group name be a link -->
{% set resourceListTemplate = templates.get_template("resourceList.html") %}

    {% if name %}
    {% if link %}
    <a href="/details?group={{ group[0] }}"><h2>{{ group[0] }}</h2></a>
    {% else %}
    <h2>{{ group[0] }}</h2>
    {% endif %}
    {% endif %}
    <table border=0 width={{ widths[0] }} style='table-layout:fixed'>
        {% for w in widths[1] %}
        <col width={{ w }}>
        {% endfor %}
            {{ resourceListTemplate.render(templates=templates, resources=group[1], views=views, details=details, label=label) }}
    </table>
