<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='css/ipad.css'> 
    <script src='js/jquery.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width=1024 style='table-layout:fixed'>
        <col width=62><col width=58><col width=814><col width=78>
        <tr>
            <td><div id="{{ time.name }}" class="time">{{ time.getViewState() }}</div></td>
            <td><div id="{{ ampm.name }}" class="ampm">{{ ampm.getViewState() }}</div></td>
            <td><div id="{{ day.name }}" class="date">{{ day.getViewState() }}</div></td>
            <td><div id="{{ temp.name }}" class="tempF">{{ temp.getViewState() }}</div></td>
        </tr>
    </table>
    {% for g in groups %}
    <br>
    <table border=0 width=1024 style='table-layout:fixed'>
        <col width=180><col width=140><col width=320>
        {% for r in g[1] %}
        <tr>
            <td><div class=label>{{ r.label }}</div></td>
            <td><div id="{{ r.name }}" class="{{ r.type+'_'+r.getViewState() }}">{{ r.getViewState() }}</div></td>
            <td>
                {% if r.className != "HASensor" %}
                <div class=control>
                <form name='control' action='' method='get'>
                    {% for v in r.view.setValues.values() %}
                    <input type='submit' name='action' value='{{ v }}' />
                    {% endfor %}
                    <input type='hidden' name='resource' value='{{ r.name }}' />
                </form>
                    {% if r.className == "HATask" %}
                        {{ r.control.name }}: {{ r.control.view.setValues[r.controlState] }}<br>
                        {{ r.schedTime.__str__().replace(",","<br>") }}
                    {% endif %}
                    {% if r.className == "HASequence" %}
                        {{ r.__str__().replace(",","<br>") }}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>

