{% set resourceTemplate = templates.get_template("resource.html") %}
{% set spaTempTemplate = templates.get_template("spaTemp.html") %}
{% set poolPumpControlTemplate = templates.get_template("poolPumpControl.html") %}
<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/css/iphone5.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width={{ widths[0][0] }} style='table-layout:fixed'>
        {% for w in widths[0][1] %}
        <col width={{ w }}>
        {% endfor %}
        <tr>
            <td><div id="{{ time.name }}" class="time">{{ time.getViewState(views) }}</div></td>
            <td><div id="{{ ampm.name }}" class="ampm">{{ ampm.getViewState(views) }}</div></td>
            <td><div id="{{ temp.name }}" class="tempF">{{ temp.getViewState(views) }}</div></td>
        </tr>
    </table>
    {{ spaTempTemplate.render(templates=templates, widths=widths[1], spa=spa, spaTemp=spaTemp, spaTempTarget=spaTempTarget, nSetValues=2, views=views) }}
    {{ poolPumpControlTemplate.render(templates=templates, widths=widths[1], poolPumpControl=poolPumpControl, poolPumpFlowSensor=poolPumpFlowSensor, nSetValues=5, views=views) }}
    <table border=0 width={{ widths[1][0] }} style='table-layout:fixed'>
        {% for w in widths[1][1] %}
        <col width={{ w }}>
        {% endfor %}
        {% for resource in resources %}
        <tr>
            {{ resourceTemplate.render(resource=resource, views=views, details=False) }}
        </tr>
        {% endfor %}
    </table>
</body>
</html>

