<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='css/iphone3gs.css'> 
    <script src='js/jquery.js'></script>
    <script src='js/update.js'></script>
    <script src='js/submit.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width=320 style='table-layout:fixed'>
        <col width=300><col width=20>
        <tr>
            <td><div id="{{ time.name }}" class="time">{{ time.getViewState() }}</div></td>
            <td><div id="{{ ampm.name }}" class="ampm">{{ ampm.getViewState() }}</div></td>
        </tr>
    </table>
    <table border=0 width=320 style='table-layout:fixed'>
        <col width=240><col width=80>
        <tr>
            <td><div id="{{ day.name }}" class="date">{{ day.getViewState() }}</div></td>
            <td><div id="{{ temp.name }}" class="tempF">{{ temp.getViewState() }}</div></td>
        </tr>
    </table>
    <table border=0 width=320 style='table-layout:fixed'>
        <col width=156><col width=36><col width=128>
        {% for r in resources %}
        <tr>
            <td><div class=label>{{ r.label }}</div></td>
            <td><div id="{{ r.name }}" class="{{ r.type+'_'+r.getViewState() }}">{{ r.getViewState() }}</div></td>
            <td>
                {% if r.className != "HASensor" %}
                <div class=control>
                <form name='control' action='' method='get'>
                    <input type='hidden' name='resource' value='{{ r.name }}' />
                    {% for v in r.view.setValues.values() %}
                    <input type='submit' class='button' name='action' value='{{ v }}' />
                    {% endfor %}
                </form>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

