<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel='stylesheet' type='text/css' href='/css/iphone3gs.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    <script src='/js/submit.js'></script>
    {{ script }}
</head>
<body>
    <table border=0 width={{ widths[0][0] }} style='table-layout:fixed'>
        {% for w in widths[0][1] %}
        <col width={{ w }}>
        {% endfor %}
        <tr>
            <td><div id="{{ time.name }}" class="time">{{ time.getViewState(views) }}</div></td>
            <td><div id="{{ ampm.name }}" class="ampm">{{ ampm.getViewState(views) }}</div></td>
        </tr>
    </table>
    <table border=0 width={{ widths[1][0] }} style='table-layout:fixed'>
        {% for w in widths[1][1] %}
        <col width={{ w }}>
        {% endfor %}
        <tr>
            <td><div id="{{ day.name }}" class="date">{{ day.getViewState(views) }}</div></td>
            <td><div id="{{ temp.name }}" class="tempF">{{ temp.getViewState(views) }}</div></td>
        </tr>
    </table>
    <table border=0 width={{ widths[2][0] }} style='table-layout:fixed'>
        {% for w in widths[2][1] %}
        <col width={{ w }}>
        {% endfor %}
        {% for resource in resources %}
        <tr>
            {{ resourceTemplate.render(resource=resource, views=views, details=False, label=True, stack=True) }}
        </tr>
        {% endfor %}
    </table>
</body>
</html>

