        <td><div class=label>{{ resource.label }}</div></td>
        <td><div id="{{ resource.name }}" class="{{ resource.type+'_'+resource.getViewState(views) }}">{{ resource.getViewState(views) }}</div></td>
        <td>
            {% if resource.className != "HASensor" %}
            <div class=control>
            <form name='control' action='' method='get'>
                <input type='hidden' name='resource' value='{{ resource.name }}' />
                {% for value in resource.setValues(views).values() %}
                <input type='submit' class='button' name='action' value='{{ value }}' />
                {% endfor %}
            </form>
                {% if resource.className == "HATask" %}
                    {{ resource.__str__().replace(",","<br>") }}
                {% endif %}
                {% if resource.className == "HASequence" %}
                    {{ resource.__str__().replace(",","<br>") }}
                {% endif %}
            </div>
            {% endif %}
        </td>
        {% if details %}
        <td><div class=data>{{ resource.name }}</div></td>
        <td><div class=data>{{ resource.type }}</div></td>
        <td><div class=data>{{ resource.interface.name }}</div></td>
        <td><div class=data>{{ resource.addr }}</div></td>
        <td><div class=data>{{ resource.location }}</div></td>
        {% endif %}

