    <!-- label - override for the resource label -->
    <!-- stack - display the resource state under the label -->
    <!-- details - display resource details -->

        <td>
        <!-- label-->
        {% if label %} 
            <div class=label{% if indent %} style=text-indent:8px{% endif %}>{{ label }}</div>
        {% else %} 
            <div class=label{% if indent %} style=text-indent:8px{% endif %}>{{ resource.label }}</div>
        {% endif %}
        {% if not stack %}
        </td>
        <!-- state-->
        <td>
        {% endif %}
            <div id="{{ resource.name }}" class="{{ resource.name }} {{ resource.type+'_'+resource.getViewState(views) }}">{{ resource.getViewState(views) }}</div>
        </td>
        <!-- controls-->
        <td>
            {% if resource.className != "Sensor" %}
            <div class=control>
            <form name='control' action='' method='get'>
                <input type='hidden' name='resource' value='{{ resource.name }}' />
                {% for value in resource.setValues(views).values() %}
                <input type='submit' class='button' name='action' value='{{ value }}' />
                {% endfor %}
            </form>
                {% if resource.className == "Task" %}
                    <div class=task>{{ resource.__str__().replace(",","<br>") }}</div>
                {% endif %}
                {% if resource.className == "Sequence" %}
                    <div class=sequence>{{ resource.__str__().replace(",","<br>") }}</div>
                {% endif %}
            </div>
            {% endif %}
        </td>
        <!-- details-->
        {% if details %}
        <td><div class=data>{{ resource.name }}</div></td>
        <td><div class=data>{{ resource.type }}</div></td>
        <td><div class=data>{{ resource.interface.name }}</div></td>
        <td><div class=data>{{ resource.addr }}</div></td>
        <td><div class=data>{{ resource.location }}</div></td>
        {% endif %}

