<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/css/solar.css'>
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    {{ script }}
</head>
<body>
    <div class="image">
       <img src="/images/solar.png" />
            <div class="stats" style="position:absolute; top:600px; left:76px">
                <div class="statsGroup">
                    <div id="{{ date.name.replace(".", "_") }}" class="date">{{ views.getViewState(date) }}</div>
                    <div>
                        <span id="{{ time.name.replace(".", "_") }}" class="time">{{ views.getViewState(time) }}</span>
                        <span id="{{ ampm.name.replace(".", "_") }}" class="ampm">{{ views.getViewState(ampm) }}</span>
                    </div>
                    <div>
                        <span class="label">Sunrise</span>
                        <span>{{ views.getViewState(sunrise) }}</span>
                    </div>
                    <div>
                        <span class="label">Sunset</span>
                        <span>{{ views.getViewState(sunset) }}</span>
                    </div>
                    <div>
                        <span class="label">Lat</span>
                        <span>{{ latitude }}</span>
                        <span class="label">Long</span>
                        <span>{{ longitude }}</span>
                    </div>
                    <div>
                        <span class="label">Elevation</span>
                        <span>{{ elevation }}</span>
                    </div>
                </div>
                <div class="statsGroup">
                    <div>
                        <span class="label">Air temperature</span>
                        <span id="{{ airTemp.name.replace(".", "_") }}" class="{{ airTemp.type }}">{{ views.getViewState(airTemp) }}</span>
                    </div>
                    <div>
                        <span class="label">Inverter temperature</span>
                        <span id="{{ inverterTemp.name.replace(".", "_") }}" class="{{ inverterTemp.type }}">{{ views.getViewState(inverterTemp) }}</span>
                    </div>
                    <div>
                        <span class="label">Roof temperature</span>
                        <span id="{{ roofTemp.name.replace(".", "_") }}" class="{{ roofTemp.type }}">{{ views.getViewState(roofTemp) }}</span>
                    </div>
                </div>
                <div class="statsGroup">
                    <div>
                        <span class="label">{{ currentVoltage.label }}</span>
                        <span id="{{ currentVoltage.name.replace(".", "_") }}" class="{{ currentVoltage.type }}">{{ views.getViewState(currentVoltage) }}</span>
                    </div>
                    <div>
                        <span class="label">{{ currentLoad.label }}</span>
                        <span id="{{ currentLoad.name.replace(".", "_") }}" class="{{ currentLoad.type }}">{{ views.getViewState(currentLoad) }}</span>
                    </div>
                    <div>
                        <span class="label">{{ currentPower.label }}</span>
                        <span id="{{ currentPower.name.replace(".", "_") }}" class="{{ currentPower.type }}">{{ views.getViewState(currentPower) }}</span>
                    </div>
                    <div>
                        <span class="label">{{ todaysEnergy.label }}</span>
                        <span id="{{ todaysEnergy.name.replace(".", "_") }}" class="{{ todaysEnergy.type }}">{{ views.getViewState(todaysEnergy) }}</span>
                    </div>
                    <div>
                        <span class="label">{{ lifetimeEnergy.label }}</span>
                        <span id="{{ lifetimeEnergy.name.replace(".", "_") }}" class="{{ lifetimeEnergy.type }}">{{ views.getViewState(lifetimeEnergy) }}</span>
                    </div>
                </div>
            </div>
        {% for inv in inverters %}
            {% if inv.name[-5:] == "power" %}
            <div class="inverter" style="position:absolute; top:{{ inv.location[0] }}px; left:{{ inv.location[1] }}px" >
                <div class="inverterName">{{ inv.label.split()[0] }}</div>
                <div id="{{ inv.name.replace(".", "_") }}" class="KW">{{ views.getViewState(inv) }}</div>
            </div>
            {% elif inv.name[-11:] == "dailyEnergy" %}
            <div class="inverter" style="position:absolute; top:{{ inv.location[0]+26 }}px; left:{{ inv.location[1] }}px" >
                <div id="{{ inv.name.replace(".", "_") }}" class="KWh">{{ views.getViewState(inv) }}</div>
            </div>
            {% endif %}
        {% endfor %}
        {% for opt in optimizers %}
            {% if opt.name[-5:] == "power" %}
            <div id="{{ opt.name.replace(".", "_")+"_panel" }}"
                    {% if opt.name[-14:-6] in ["100F71E5", "100F7255"] %}
                    class="ppanel"
                    style="position:absolute; top:{{ opt.location[0]+18 }}px; left:{{ opt.location[1]-17 }}px" >
                    {% else %}
                    class="lpanel"
                    style="position:absolute; top:{{ opt.location[0]+1 }}px; left:{{ opt.location[1]+1 }}px" >
                    {% endif %}
                <div class="optimizer">
                    <div class="optimizerName">{{ opt.label.split()[0] }}</div>
                    <div id="{{ opt.name.replace(".", "_") }}" class="W">{{ views.getViewState(opt) }}</div>
                </div>
            </div>
            <!-- {% elif opt.name[-11:] == "dailyEnergy" %}
            <div class="optimizer" style="position:absolute; top:{{ opt.location[0]+28 }}px; left:{{ opt.location[1] }}px" >
                <div id="{{ opt.name.replace(".", "_") }}" class="KWh">{{ views.getViewState(opt) }}</div>
            </div> -->
            {% endif %}
        {% endfor %}
     </div>
</body>
</html>
