<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='/css/tacoma.css'> 
    <script src='/js/jquery.js'></script>
    <script src='/js/update.js'></script>
    {{ script }}
</head>
<body>
    <div class="lcd">
        <table border=0 width=800 style='table-layout:fixed'>
            <col width=320><col width=480>
            <tr>
                <td>
                <span id="{{ time.name }}" class="time">{{ views.getViewState(time) }}</span>
                <span id="{{ ampm.name }}" class="ampm">{{ views.getViewState(ampm) }}</span>
                </td>
                <td>
                <span id="{{ temp.name }}" class="tempF">{{ views.getViewState(temp) }}</span>
                </td>
            </tr>
            {% for r in group %}
            <tr>
                <td><div class=label>{{ r.label }}</div></td>
                <td><div id="{{ r.name }}" class="{{ r.type+'_'+views.getViewState(r) }}">{{ views.getViewState(r) }}</div></td>
            </tr>
            {% endfor %}
        </table>
        <table border=0 width=800 style='table-layout:fixed'>
            <col width=80><col width=160><col width=80><col width=80><col width=80><col width=80><col width=80><col width=80><col width=80>
            <tr>
                {% for r in controls %}
                <td>
                    <div class=label>
                        {{ r.label }}
                    </div>
                    <div id="{{ r.name }}" class="{{ r.type+'_'+views.getViewState(r) }}">
                        {{ views.getViewState(r) }}
                    </div>
                </td>
                 <td>
                    <div class=control>
                        <form name='control' action='' method='get'>
                            <input type='hidden' name='resource' value='{{ r.name }}' />
                            {% if views[r.type].toggle %}
                                <input type='submit' class='button' id="{{ r.name }}" name='action' value='{{ views.getViewState(r) }}' />
                            {% else %}
                                {% for v in r.getSetValues(views).values() %}
                                <input type='submit' class='button' name='action' value='{{ v }}' />
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </td>
               {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>

